abrt/
akonadi/
akonadi_akonotes_resource_0rc/
akonadi_contacts_resource_0rc/
akonadi-firstrunrc/
akonadi_ical_resource_0rc/
akonadi_indexing_agentrc/
akonadi_maildir_resource_0rc/
arkrc/
audacity/
baloofileinformationrc/
baloofilerc/
blender/
bluedevilglobalrc/
btop/
chromium/
clangd/
Code/
dconf/
device_automounter_kcmrc/
discord/
discoverrc/
dolphinrc/
dragonplayerrc/
drkonqirc/
Electron/
emaildefaults/
emailidentities/
filetypesrc/
gconf/
google-chrome/
gtk-3.0/
gtk-4.0/
gtkrc/
gtkrc-2.0/
gwenviewrc/
htop/
ibus/
imsettings/
kactivitymanagerdrc/
kactivitymanagerd-statsrc/
kalendaracrc/
katevirc/
kcalcrc/
kcharselectrc/
kcminputrc/
kconf_updaterc/
KDE/
kdeconnect/
kded5rc/
kdedefaults/
kdeglobals/
kde.org/
kfontinstuirc/
kfontviewrc/
kglobalshortcutsrc/
klipperrc/
kmenueditrc/
knfsshare/
kolourpaintrc/
konsolerc/
konsolesshconfig/
kritadisplayrc/
kritarc/
ktimezonedrc/
kwalletrc/
kwinoutputconfig.json/
kwinrc/
kwriterc/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list/
nautilus/
okularrc/
OpenTabletDriver/
partitionmanagerrc/
pavucontrol.ini/
PlasmaDiscoverUpdates/
plasma.emojierrc/
plasma-localerc/
plasma-org.kde.plasma.desktop-appletsrc/
plasmarc/
plasmashellrc/
PlasmaUserFeedback/
plasma-welcomerc/
plasma-workspace/
powerdevilrc/
powermanagementprofilesrc/
pulse/
qimgv/
Qt/
QtProject/
QtProject.conf/
ranger/
session/
specialmailcollectionsrc/
spectaclerc/
systemmonitorrc/
systemsettingsrc/
Thunar/
trashrc/
Trolltech.conf/
uGet/
Unknown Organization/
user-dirs.dirs/
user-dirs.locale/
vesktop/
vlc/
whoozle.github.io/
xdg-desktop-portal-kderc/
xsettingsd/
zoom.conf/
zoomus.conf/
